/* General Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --blue: #0B50A0;
    --lightblue: #1E46C3;
    --ligthgreen: #00C8A1;
    --darkblue: #1C24C6;
}

body {
    background-color: var(--blue);
    height: 100vh;
}

/* Title Section */
.title {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.title h1 {
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(90deg, var(--lightblue) 0%, var(--ligthgreen) 100%);
    border-radius: 10px;
    padding: 15px 35px;
}

.title img {
    margin-left: 2rem;
}

span{
    color: white;
    background: linear-gradient(90deg, var(--lightblue) 0%, var(--ligthgreen) 100%);
    padding: 10px 20px;
    border-radius: 36px;
        
}

/* Card Container */
.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Ensures cards adjust for smaller screens */
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 46px;
    box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px; /* Adds spacing between cards */
}

.card-body {
    background-color: #fffcfc;
    padding: 8px;
    flex-grow: 1;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
    color: var(--lightblue);
    text-decoration: none;
    line-height: 1.4;
}

.icon {
    width: 120px;
}


/* Logo */
.logo-xl {
    margin: 10px;
    width: 3.6rem;
}

/* Authentication Buttons */
.content_auth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.content {
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    border-radius: 28px;
    color: var(--lightblue);
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
}

.content:hover {
    background-color: var(--ligthgreen);
    color: white;
}

/* Responsive Styles */
/* Mobile */
@media (max-width: 480px) {
    .card-container {
        flex-direction: column;
        margin: 10px;
    }

    .card {
        width: 300px;
        border-radius: 36px;
    }

    .card-body {
        padding: 4px;
    }

    .card-text {
        font-size: 24px;
    }

    .icon {
        width: 90px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        margin: 10px;
    }

    .card {
        width: 400px;
        border-radius: 36px;
    }

    .card-body {
        padding: 12px;
    }

    .card-text {
        font-size: 28px;
    }

    .icon {
        width: 100px;
    }
}
